@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,400;1,500&display=swap');


.App {
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  /* background-image: url("https://images.cdn1.stockunlimited.net/preview1300/dark-blue-textured-background_1845103.jpg"); */
  
}

h1 {
  font-weight: 100;
}